body {
    color: #12345678
}

.content {
    color: pink;
    user-select: none;
}

.test {
    user-select: all;
}

.test_url {
    background-image: url("../img/2.jpg");
    display: inline-block;
}